<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div id="thumbnailimage" style="background-image: url('/system/projects/images/000/000/020/thumb/shard_620_1660587a.jpg?1416498614')"></div>
      <div class="caption">
        <h3><a href="/projects/20">Redeveloping the shard.</a></h3>
        <p>Andrew wants to redevelop the Shard. It&#39;s quite outdated and needs freshening up. </p>
        <p>Project created by: Andrew Hercules</p>
        <p>at </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>